$calculator-width: 430px;
$calculator-height: 486px;
$calculator-results-width: 430px;
$calculator-results-height: 109px;
$calculator-number-button-width: 101px;
$calculator-number-button-height: 96px;
$calculator-symbol-button-width: 126px;
$calculator-symbol-button-height: 67px;
$border-color: 1px solid rgba(255, 255, 255, 0.171);
$text-color: white;

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

body {
    background-color: rgb(185, 185, 185);
}

button {
    background-color: #252628;
    border: $border-color;
    color: $text-color;
    font-size: 45px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.6s;
    &:hover {
        background-color: #1c1c1d;
        border: 1px solid rgb(177, 176, 176);
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    width: $calculator-width;
    background-color: #252628;
    .calculator-results {
        width: $calculator-results-width;
        height: $calculator-results-height;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.185);
        color: white;
        font-size: 55px;
        text-align: end;
        h1 {
            margin-right: 15px;
        }
    }
    .calculator-buttons {
        display: grid;
        grid-template-columns: 304px 126px;
        .numbers-buttons {
            display: flex;
            flex-wrap: wrap;
            button {
                width: $calculator-number-button-width;
                height: $calculator-number-button-height;
                &:nth-child(10){
                    width: 201px;
                }
            }
        }
        .symbols-buttons {
            button {
                &:first-child {
                    background-color: #FF4545;
                }
                width: $calculator-symbol-button-width;
                height: $calculator-symbol-button-height;
                font-size: 30px;
            }
        }
    }
}